@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-down {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  @keyframes navbar-drop {
    0% {
      transform: translateY(100%);
      opacity: 0;
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
}
    100% {
      transform: translateY(0);
      opacity: 0.5;
    }
  }
  
  .animate-slide-down {
    animation: slide-down 0.5s ease-out;
    -webkit-animation: slide-down 0.5s ease-out;
}

  .animate-navbar {
    animation: navbar-drop 0.2s ease-in-out;
    -webkit-animation: navbar-drop 0.2s ease-in-out;
}

